/** @format */

@import "tailwindcss";

@theme {
  /* Fonts */
  --font-mainName: "Balthazar", serif;
  /* --font-display: "Pirata One", cursive; */

  /* Adventure Colors */
  --color-GuildNavy: oklch(0.35 0.12 270);
  --color-TrailOrange: oklch(0.6 0.18 50);
  --color-MapParchment: oklch(0.95 0.03 90);
  --color-ForestPath: oklch(0.55 0.16 150);
  --color-RoyalPurple: oklch(0.5 0.2 300);

  /* Theme Mapping */
  --color-text: var(--color-TrailOrange);
  --color-background: var(--color-MapParchment);
  --color-primary: var(--color-GuildNavy);
  --color-secondary: var(--color-TrailOrange);
  --color-accent: var(--color-RoyalPurple);
}
